<footer class="footer">
    <a class="link" href='https://gitlab.com/manyNeurons' target="_blank">
        Made with 💖 by <b>Ferran Ramírez Martí</b> in  <i class="fab fa-angular fa-spin"></i> with 
    </a>
    <a class="link" href='https://p5js.org' target="_blank">
        <img class="fa-spin" style="width:auto;height:20px;margin-left:5px" src="..\..\assets\images\p5js.png"> 
    </a>
    <div style="padding:0px 20px 0px 20px; font-size:20px; height:100%">|</div>
    
    <a class="link" href='https://gitlab.com/manyNeurons/cellular-automaton-web' target="_blank">
         Project code here:  <i class="fab fa-gitlab fa-spin"></i>
    </a>
</footer>
