.footer {
    height: 5%;
    display: flex;
    justify-content: center;
    bottom: 0px;
    padding: 0;
    word-spacing: 1px;
    background-color: rgba(226, 226, 226, 0.534);
}

.link {
    text-decoration: none;
    color: black;
}

a:hover {
    /* estaría guay q girase (class=fa-spin) cuando se hace hover solamente */
}