<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet">
<h5>What is a one-dimensional binary cellular automaton? 😅</h5>
<p>
    A cellular automaton is a mathematical model and abstract machine used in many scientific fields
    such as physics, cryptography, computing, and biology. It was inspired in the behaviour of 
    natural cellular interaction and neural networks by von Newman and Stanislaw Ulam.
    <br><br>
    The automaton can be n-dimensional, this means it has its cells distributed in as many axis as it has,
    in this case, 1 dimension, so they interact with themselves in 1 direction.
    <br>
    Cells within can have more than one state, in this case (binary), only 2: <b>0</b> or <b>1</b>, 
    <b>white</b> or <b>black</b>, <b>dead</b> or <b>alive</b>. This is dictated by the rule.
    <br>
    The first and last cell of this automaton interact with each other, it behaves as a 
    periodic border.
    
</p>

<h5><b>How does it work?</b></h5>
<p>
    -The long line of buttons represent the actual cell state; how the cells are distributed in the
    one-dimensional space according to their last state and rule.<br>
    -The buttons below the arrows are the state result of the previous configuration (each cell and its 2 neighbours). This result 
    can be altered in order to change their rule.<br>
    In order to make it work, just press all these buttons.<br>
    Below the buttons we have a temporal representation (<b>y-axis</b>) of the cellular automaton (the only
    dimension represented on the <b>x-axis</b>).
    
</p>

<h5>About me and the project</h5>
<p>
    Cellular Stuff is an interactive educative webpage, built with <b>Angular 9</b> and <u><b><a style="color: black;" href='https://p5js.org' target="_blank">p5.js</a></b></u> by (me) 
    Ferran Ramírez Martí
    a Software Engineer graduated in Computer Science in the UPV in Spain.<br>
    You can see more projects in <a href="https://github.com/ferranJS" class="nf" target="_blank">
        my Github
        <!-- <span style='color: #e98838'>N</span>
        <span style='color: #ff615b'>e</span>
        <span style='color: #e73c92'>u</span>
        <span style='color: #cb3ce7'>r</span>
        <span style='color: #8b57dd'>a</span>
        <span style='color: #46b7e4'>l </span>
        <span style='color: #23d5ab'> F</span>
        <span style='color: rgb(126, 187, 35)'>u</span>
        <span style='color: rgb(0, 122, 0)'>s</span>
        <span style='color: rgb(36, 51, 31)'>e</span> -->
    </a>.       
</p>
