
img.animated-gif{
  width: 25px;
  height: auto;
}

.input-field {
  margin: 0px;
  padding: 0px;
}

.config-inicial {
  display: inline-block;
  
}

.estados{
  text-align: center;
}

.cen {
  text-align: center;
}

.stop {

}

.reset {

}

.button {
  border-width: 0.1px;
  width: 12px;
  height: 14px;
  display: inline-block;  
}

.buttonD {
  background-color: white;
  border-width: 0.1px;  
  color: white;
  height: 15px;
  width: 15px;
  display: inline-block;
  font-size: 16px;
  cursor: not-allowed;
  pointer-events: none;
}


.black{
  background-color: black;
}
.white{
  background-color: whitesmoke;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}



.subidc { 
  vertical-align:sub;           
  font-size:8pt;
} 


.tooltip1 {
  position: relative;
  display: inline-block;
  font-size: 13px;
}

.tooltip1 .tooltiptext1 {
  
  visibility: hidden;
  width: 110px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -55px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}



.tooltip2 {
  position: relative;
  display: inline-block;
  font-size: 13px;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 20%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
}



.tooltip3 {
  position: relative;
  display: inline-block;
  font-size: 13px;
}

.tooltip3 .tooltiptext3 {
  visibility: hidden;
  position: absolute;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-bottom3 {
  top: 135%;
  left: 50%;
  margin-left: -60px;
}

.tooltip3 .tooltiptext3::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip3:hover .tooltiptext3 {
  visibility: visible;
  opacity: 1;
}
