

<!-- Rule number input-->
<div class="row">

    <div class="estados">

        <div class="input-field col s1">
            <div class="tooltip2">
                <label id="ruleL">Rule number</label>
                <span class="tooltiptext2">Indicates the rule that will aply to the configuration.</span>
            </div>
            <div class="tooltip1" style="bottom: 80%;">
                <p class="tooltiptext1" style="bottom: 80%;">Decimal<span class="subidc"> 10</span></p>
                <input value=30 id="rule" type="text" class="validate" style="text-align:center;">
            </div>
            <div class="tooltip3" style="top: 70%;">
                <input id="ruleB" disabled type="text" class="validate" style="text-align:center;">
                <p class="tooltiptext3 tooltip-bottom3" style="top: 70%;">Binary<span class="subidc"> 2</span></p>
            </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                <span class="tooltiptext1">1 1 1</span>
                <button class="buttonD black"></button><button class="buttonD black"></button><button class="buttonD black"></button>
            </div>
            <div class = "cen">
                <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
            </div>
            <div class = "cen">
                <button class="button" id="c7"></button>
            </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                <span class="tooltiptext1">1 1 0</span>
                <button class="buttonD black"></button><button class="buttonD black"></button><button class="buttonD white"></button>
            </div>
            <div class = "cen">
                <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
            </div>
            <div class = "cen">
                <button class="button" id="c6"></button>
            </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                <span class="tooltiptext1">1 0 1</span>
                <button class="buttonD black"></button><button class="buttonD white"></button><button class="buttonD black"></button>
            </div>
            <div class = "cen">
                <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
            </div>
            <div class = "cen">
                <button class="button" id="c5"></button>
            </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                <span class="tooltiptext1">1 0 0</span>
                <button class="buttonD black"></button><button class="buttonD white"></button><button class="buttonD white"></button>
            </div>
            <div class = "cen">
                <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
            </div>
            <div class = "cen">
                <button class="button" id="c4"></button>
            </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                <span class="tooltiptext1">0 1 1</span>
                <button class="buttonD white"></button><button class="buttonD black"></button><button class="buttonD black"></button>
            </div>
            <div class = "cen">
                <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
            </div>
            <div class = "cen">
                <button class="button" id="c3"></button>
            </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                <span class="tooltiptext1">0 1 0</span>
                <button class="buttonD white"></button><button class="buttonD black"></button><button class="buttonD white"></button>
            </div>
            <div class = "cen">
                <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
            </div>
            <div class = "cen">
                <button class="button" id="c2"></button>
            </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                 <span class="tooltiptext1">0 0 1</span>
                 <button class="buttonD white"></button><button class="buttonD white"></button><button class="buttonD black"></button>
             </div>
             <div class = "cen">
                 <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
             </div>
             <div class = "cen">
                 <button class="button" id="c1"></button>
             </div>
        </div>
        <div class="col s1 cen">
            <div class="tooltip1">
                
                <span class="tooltiptext1">0 0 0</span>
                <button class="buttonD white"></button><button class="buttonD white"></button><button class="buttonD white"></button>
            </div>
            <div class = "cen">
                <img id="likes" class="animated-gif" src="../../assets/images/Flecha.gif">
            </div>
            <div class = "cen">
                <button class="button" id="c0"></button>
            </div>
        </div>

        <div class = "stop tooltip1">                
            <p>Play/Pause</p>
            <span class="tooltiptext1">Play/Pause execution</span>
            <button id="stap" class="button red" value='stopd'></button>
        </div>
        <br>
        <div class = "reset tooltip3">             
            <p>Reset</p>
            <button id="reset" class="button green"></button>
            <span class="tooltiptext3 tooltip-bottom3">Reset cells to 0</span>
        </div>
    </div>

    <div class="config-inicial">
        <button class="button white" id='d{{i}}' value=0 *ngFor="let cel of init_config; index as i"></button>
    </div>      

</div>
 
